
@model AbirProjectCars.Models.Garage

<h3>   @Model.GarageName מוסך   </h3>
<h4>@Model.GarageName  :  שם מוסך</h4>
<h4>@Model.Address  :  כתובת</h4>
<h4>@Model.PhoneNumber  :  מס טלפון</h4>


<h6>נשמח לתת שרות</h6>