h3>Please select the desired screen</h3>

<button onclick="location.href='@Url.Action("Index","User")'">User management</button>
<button onclick="location.href='@Url.Action("Index", "Vehicle")'">Vehicle management</button>
<button onclick="location.href='@Url.Action("Index", "GarageVisit")'">Report management</button>

